body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: transparent;
}

.game-container {
  position: relative;
  width: 567px;
  height: 72px;
  margin-bottom: 40px;
}

.optional-bg {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.slider-frame {
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  border: 2px solid #313131;
  width: 508px;
  height: 60px;
  position: absolute;
  left: 54px;
  top: 6px;
  box-shadow: 0px 4px 9px 0px rgba(49, 192, 82, 0.2);
}

.slider {
  background: radial-gradient(
    closest-side,
    rgb(167, 237, 183) 0%,
    rgb(24, 159, 0) 100%
  );
  border-radius: 10px;
  width: 42px;
  height: 40px;
  position: absolute;
  left: 14px;
  top: 10px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
}

.zone {
  width: 48px;
  height: 60px;
  position: absolute;
  right: 6px;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.zone-line {
  height: 4px;
  width: 100%;
  background-color: rgb(0, 191, 29);
}

.rectangle-5 {
  background: rgba(217, 217, 217, 0);
  border-radius: 10px;
  border: 2px solid #313131;
  width: 48px;
  height: 48px;
  margin: 2px 0;
}

.prompt {
  width: 56px;
  height: 56px;
  position: absolute;
  left: -10px;
  top: 8px;
}

.rectangle-7 {
  background: radial-gradient(
    closest-side,
    rgb(0, 159, 40) 0%,
    rgb(49, 192, 82) 51.499998569488525%,
    rgb(0, 159, 48) 100%
  );
  border-radius: 10px;
  width: 56px;
  height: 56px;
  position: absolute;
  box-shadow: 0px 2px 8px 0px rgba(49, 192, 176, 0.25);
}

.e {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Regular", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
